@model ApiProjeKampi.WebUI.Dtos.EventDtos.CreateEventDto

@{
    ViewData["Title"] = "CreateYummyEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";

}





<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Etkinliği Düzenleme Sayfası</h4>
                    </div>
                    <div class="card-body">

                        <form method="post">
                           
                            <label>Etkinlik Adı</label>
                            <input type="text" asp-for="Title" class="form-control" /> <br />
                            <label>Etkinlik Fiyatı</label>
                            <input type="text" asp-for="Price" class="form-control" /> <br />
                            <label>Etkinlik Resmi</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" /> <br />
                            <label>Etkinlik Açıklaması</label>
                            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                            <label>Etkinlik Durumu</label>
                            <input type="text" asp-for="Status" class="form-control" /> <br />
                            <button class="btn btn-primary">Etkinliği Düzenleme</button>
                        </form>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
